<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="home-about">
        
    </div>

    

    <div class="index-left-about">

      <article>

        <span class="hi-span">Oi! </span><span class="name-span"> Eu sou a Carol :)</span>
        {{ content }}

        <h3 class="contact-title">Entre em contato!</h3>
        Voc&ecirc; pode me mandar um email em <a href="mailto:csbatista@icloud.com">csbatista@icloud.com</a> ou me econtrar por ai:<br>
        GitHub: <a href="https://github.com/csbatista">https://github.com/csbatista</a> <br>
        Behance: <a href="https://www.behance.net/csbatista">https://www.behance.net/csbatista</a> <br>
        Linkedin: <a href="https://br.linkedin.com/in/csbatista">https://br.linkedin.com/in/csbatista</a> <br>
        <br><br>
        <div class="quote-study">
           {{ page.quote }}
          <span class="author">{{ page.author_quote }}</span>
        </div>

        <div class="timeline">
          <ul>
            <li class="left">
              <div class="description-event-timeline">Curso técnico em Informática Industrial pelo Centro Federal de Educação Tecnológica (CEFET-MG)</div>
              <div class="icon-timeline"><div class="icon"></div></div>
              <div class="date-event-timeline">2009 - 2011</div>
              <ul class="sub-timeline">
                <li class="right">
                  
                  <div class="date-event-timeline">2011 - 2012</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Est&aacute;gio na empresa ATT/ps Inform&aacute;tica como desenvolvedora Web.</div>
                
                </li>

              </ul>
            </li>

            <li class="left">
              <div class="description-event-timeline">Bacharelado em Ci&ecirc;ncia da Computa&ccedil;&atilde;o pela Universidade Federal de Minas Gerais (UFMG). T&eacute;rmino previsto: dez/2016</div>
              <div class="icon-timeline"><div class="icon"></div></div>
              <div class="date-event-timeline">2012 - presente</div>

              <ul class="sub-timeline">
                <li class="right">
                  <div class="date-event-timeline">2012 - 2013</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Est&aacute;gio na empresa SISTTI - Sistemas e Soluções em Tecnologia da Informação como desenvolvedora.</div>
                </li>

                <li class="right">
                  <div class="date-event-timeline">2013 - 2014</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Inicia&ccedil;&atilde;o Cient&iacute;fica em Redes Sociais com foco em Recomenda&ccedil;&atilde;o de Tags na UFMG.</div>
                </li>

                <li class="right">
                  <div class="date-event-timeline">2013 - 2016</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Design e desenvolvimento de sites e blogs como freelancer</div>
                </li>

              </ul>
            </li>

            

            <li class="left">
              <div class="description-event-timeline">Interc&acirc;mbio em Ci&ecirc;ncia da Computa&ccedil;&atilde;o na Vrije Universiteit Amsterdam</div>
              <div class="icon-timeline"><div class="icon"></div></div>
              <div class="date-event-timeline">2014 - 2015</div>

              <ul class="sub-timeline">
                <li class="right">
                  <div class="date-event-timeline">2015 - presente</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Est&aacute;gio na empresa WayCarbon como desenvolvedora. </div>
                </li>

              </ul>
            </li>
          </ul>
        </div>
      
      </article>
    </div>
    <div class="index-left-about2">
    </div>



    <div class="page-content">
      <div class="wrapper">
       
      </div>
    </div>

  

  </body>

</html>
