<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="home-about">
        
    </div>

    

    <div class="index-left-about">

      <article>

        <span class="hi-span">Hi! </span><span class="name-span"> I'm Carol :)</span>
        {{ content }}

        <h3 class="contact-title">Contact me!</h3>
        You can send me an email on <a href="mailto:csbatista@icloud.com">csbatista@icloud.com</a> or find me on the web:<br>
        GitHub: <a href="https://github.com/csbatista">https://github.com/csbatista</a> <br>
        Behance: <a href="https://www.behance.net/csbatista">https://www.behance.net/csbatista</a> <br>
        Linkedin: <a href="https://br.linkedin.com/in/csbatista">https://br.linkedin.com/in/csbatista</a> <br>
        <br><br>
        <div class="quote-study">
           {{ page.quote }}
          <span class="author">{{ page.author_quote }}</span>
        </div>

        <div class="timeline">
          <ul>
            <li class="left">
              <div class="description-event-timeline">Technician course on Industrial Informatics at Centro Federal de Educação Tecnológica (CEFET-MG)</div>
              <div class="icon-timeline"><div class="icon"></div></div>
              <div class="date-event-timeline">2009 - 2011</div>
              <ul class="sub-timeline">
                <li class="right">
                  
                  <div class="date-event-timeline">2011 - 2012</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Internship at ATT/ps Informática as a web developer.</div>
                
                </li>

              </ul>
            </li>

            <li class="left">
              <div class="description-event-timeline">Bachelor on Computer Science at Universidade Federal de Minas Gerais (UFMG). Expected graduation: dec/2016</div>
              <div class="icon-timeline"><div class="icon"></div></div>
              <div class="date-event-timeline">2012 - present</div>

              <ul class="sub-timeline">
                <li class="right">
                  <div class="date-event-timeline">2012 - 2013</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Internship at SISTTI - Sistemas e Soluções em Tecnologia da Informação as a developer.</div>
                </li>

                <li class="right">
                  <div class="date-event-timeline">2013 - 2014</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Research project on Social Network, with focus on Tag Recommendation at UFMG.</div>
                </li>

                <li class="right">
                  <div class="date-event-timeline">2013 - 2016</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Website design and development and blog templates as a freelancer</div>
                </li>

              </ul>
            </li>

            

            <li class="left">
              <div class="description-event-timeline">Exchange program on Computer Science at Vrije Universiteit Amsterdam</div>
              <div class="icon-timeline"><div class="icon"></div></div>
              <div class="date-event-timeline">2014 - 2015</div>

              <ul class="sub-timeline">
                <li class="right">
                  <div class="date-event-timeline">2015 - present</div>
                  <div class="icon-sub-timeline"><div class="icon"></div></div>
                  <div class="description-event-timeline">Internship at WayCarbon as a developer. </div>
                </li>

              </ul>
            </li>
          </ul>
        </div>
      
      </article>
    </div>
    <div class="index-left-about2">
    </div>



    <div class="page-content">
      <div class="wrapper">
       
      </div>
    </div>



  </body>

</html>
